<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <Title>Выберите свой напиток</Title>
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>
        <header></header>
        <div>
            <h1>Меню</h1>
            <ul class="ml">
                {% for k,v in drinks.items %}
                <li><a href = "menu/{{ k }}">{{ k }} {{ v }}</a></li>
                <!-- <li><a href = "menu/latte">latte</a></li>
                <li><a href = "menu/amerikano">amerikano</a></li>
                <li><a href = "menu/latte with syrup">latte with syrup</a></li>
                <li><a href = "menu/coffee with cream">coffee with cream</a></li> -->
                {% endfor %}
            </ul>
        </div>
        <footer>
            <h2>Поддержка</h2>
            <ul>
                <li><span>Адрес:</span>Планета Земля</li>
                <li><span>Телефон:</span>+0000</li>
            </ul>
        </footer>
    </body>
</html>